doctype html
html(ng-app="theming")
  head
    base(href='/')
    meta(charset='utf8')
    title slipstream - dev
    link(rel='stylesheet', href='/static/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/module/angular-material/angular-material.css')
    link(rel='stylesheet', href='/module/angular-animate/angular-animate.css')
    link(rel='stylesheet', href='/module/angular-aria/angular-aria.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='shorcut icon' type='image/x-icon' href='/static/favicon.ico')
    script(src='/module/angular/angular.js')
    script(src='/module/angular-route/angular-route.js')
    script(src='/module/angular-resource/angular-resource.js')
    script(src='/module/angular-material/angular-material.js')
    script(src='/module/angular-animate/angular-animate.js')
    script(src='/module/angular-aria/angular-aria.js')
    script(src='/module/d3/d3.js')
    script(src='/static/js/theming.js')

  body(ng-controller='toolbar')
    div
      md-toolbar(class='md-accent')
        div(class='md-toolbar-tools md-accent' layout='row' layout-align='space-between')
          h1(class='md-toolbar-item md-accent')
            a(ng-href='/' class='md-accent' href='/')
              i(class='fa fa-circle-o-notch fa-2 md-accent')
              span(class='md-accent') &nbsp; slipstream
                md-tooltip(md-direction='right') Home
          span(flex)
          md-button(class='md-toolbar-item md-raised' ng-click='parse()' aria-label='Parse File') Parse
            md-tooltip(md-direction='left') Parse File
    div(ng-controller='data')
      div(class='md-accent' ng-show='files.length > 0' style='padding-left: 25px; margin: 20px')
        h2 Project
        div(class='md-accent')
          span {{files[0].projectPath}}:
          strong &nbsp {{files.length}} &nbsp
          span javascript files

      div(class='md-whiteframe-z3' style='padding-top:5px' layout='row' layout-align='space-between start')
        div(style='margin: 25px')
          h3 Files
          div(ng-repeat='file in files | orderBy: "-lines"')
            div(style='position: relative')
              svg(width='150' height='150')
                circle(cx='50%' cy='50%' r='{{(file.lines/5) + 1}}')
              span(style='position: absolute; top: 50%; margin-top: -25px')
                span(style='white-space: nowrap') {{file.lines}}:
                br
                span(style='white-space: nowrap') {{file.relPath}}
                br
                span(style='white-space: nowrap' ng-show='file.comments > 0') comments: {{file.comments}}

        div(style='margin: 25px')
          h3 File Stat Totals
          div Lines: {{stats.lines}}
          div Dependencies: {{stats.deps}}
          div Internal Calls: {{stats.calls}}
          div Exports: {{stats.fileExports}}

        div(style='margin: 25px')
          h3 Constant Values
          div Length Constant: {{lConst}}
          div Size Constant: {{sConst}}
          div Elasticity Constant: {{eConst}}

        div(style='margin: 25px')
          h3 Constant Settings
          md-input-container(id='length-constant-input')
            label Length Constant
            input(ng-model='lConst')
          md-input-container(id='size-constant-input')
            label Size Constant
            input(ng-model='sConst')
          md-input-container(id='elasticity-constant-input')
            label Elasticity Constant
            input(ng-model='eConst')
